/*TOC of Porfolio Styles

1. imports and variables
2. General
3. Typgraphy
4. Grid: main container, projects grid
5. Components: header, mobile menu, footer, carousels, section,
6. Animation
7. Landing Page Style
8. Project Page Style
9. 404 page
10. Media Queries

*/

/*imports and variables*/

//imports
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');


@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');

//variables
@primary: #FF0052;
@secondary: #44BEA4;
@gray: #999999;

/*General*/

* {
    cursor: default;
}

::selection {
    background: #FFC5FF;
    /* WebKit/Blink Browsers */
}

::-moz-selection {
    background: #FFC5FF;
    /* Gecko Browsers */
}

body {
    width: 100%;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: @primary;

    &:hover {
        text-decoration: none;
    }

    h1 {
        color: black;

        &:hover {
            color: @primary;
        }
    }
}

/*Typgraphy*/

* {
    font: 400 15px/26px 'Open Sans', sans-serif;
}

.welcome-line {
    font: 900 12vw/115% 'Open Sans', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 {
    font: 400 52px/72px 'Playfair Display', serif;
    letter-spacing: 2px;
    margin-bottom: 4px;
}

h2 {
    font: 400 52px/72px 'Open Sans', sans-serif;
    letter-spacing: 2px;
}

h3 {
    font: 300 36px/52px 'Open Sans', sans-serif;
    margin: 40px 0 12px;
    color: @primary;
    margin-top: 40px;
}

h4 {
    font: 700 24px/36px 'Open Sans', sans-serif;
    margin: 4px 0;
}

p {
    margin-bottom: 12px;
    &.brand-color {
        color: @primary  !important;
        margin-bottom: 0;
    }
    &.gray-color {
        color: @gray  !important;
        margin-bottom: 0;
    }
}

small {
    font: 400 12px/16px 'Open Sans', sans-serif;
    color: @gray;
    letter-spacing: 0.2px;
}

figure {
    padding: 0;

    img {}

    figcaption {
        color: @gray;
        font: 300 14px/21px 'Open Sans', sans-serif;
        letter-spacing: 0.6px;
        text-align: center;
    }
}

ol {
    margin: -8px 0 16px 0;
}

ul {
    list-style: none;
    padding: 0;

    li {
        font: 400 16px/24px 'Open Sans', sans-serif;
        color: @gray;
    }
}

a {
    color: @primary;
    text-decoration: none;
}

/*Project*/

.project-container {

    li,
    p {
        font-family: Georgia;
        font-size: 21px;
        color: #000000;
        letter-spacing: 0;
        line-height: 32px;
    }

    .project-wireframe-image {
        margin-bottom: 36px;
        padding: 0;

        img {
            background: #F2F2F2 url('../images/icons/rectangle.png');
        }

        figcaption {
            margin-top: 12px;
        }
    }

    .project-design-image {
        margin-bottom: 36px;
        padding: 0;

        img {
            box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
        }

        figcaption {
            margin-top: 12px;

        }
    }

    .dots-break {
        height: 20px;
        background: url('../images/Icons/break.svg') center center no-repeat;
        margin: 28px 0;
    }

    //carousel
    .carousel-container {
        .carousel {
            .carousel-inner {
                img {
                    width: 700px;
                }
                .carousel-caption {
                    bottom: -80px;
                    color: @gray;
                }
            }
        }
    }

}

.next-project {
    .underline {
        height: 8px;
        width: 72px;
        background-color: @secondary;
    }
}

/*Watoobi*/

#watoobi {
    .hero-image {
        background: url('../images/project-watoobi/Watoobi-Hero.jpg') center center no-repeat;
        background-size: cover;
        height: 520px;
    }
}

/*Navbar*/

nav {
    margin: 0 0 40px 0;

    .navbar-nav {
        .nav-link {
            font: italic 400 20px/40px 'Playfair Display', serif;
            color: black;
            transition: color 100ms ease-in-out;
            text-align: right;

            &:hover {
                color: @primary;
            }
        }
    }

    .navbar-toggler-icon {
        background-image: url(../images/Icons/hamburger-icon.svg);
    }
}

/*Project page*/

.process {
    position: relative;
    padding: 40px 0;

    .process-line {
        background-color: @primary;
        height: 2px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: rotate(90deg);
    }

    .process-item {
        height: 120px;
        width: 120px;
        background-size: contain;
        border-radius: 50%;
        border: 2px solid @primary;
        position: relative;
        margin-bottom: 32px;

        span {

            position: relative;
            top: 45px;
            left: 140px;
            display: block;
            text-align: left;
            width: 100%;

        }

        &:nth-child(even) {
            span {
                text-align: right;
                left: -140px;
            }
        }

        &.strategy {
            background-image: url('../images/Icons/Strategy.svg');
        }

        &.research {
            background-image: url('../images/Icons/Research.svg');
        }

        &.ideation {
            background-image: url('../images/Icons/Ideation.svg');
        }

        &.usability {
            background-image: url('../images/Icons/Usability.svg');
        }

        &.design {
            background-image: url('../images/Icons/Design.svg');
        }
    }
}

/*Components*/

//section

section {
    margin-bottom: 120px;
}

//header
header {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    position: relative;

    .menu-button {
        align-self: center;
        height: 18px;
        padding: 10px 0;

        #hamburger-icon {
            fill: #000;
        }

        #ham-top {
            transform: translateY(0);
            transition: all 250ms ease;
        }

        #ham-bottom {
            transform: translateY(0);
            transition: all 250ms ease;
        }

        &.menu-button-close {
            #hamburger-icon {
                fill: #fff;
            }

            #ham-top {
                transform: translateY(-7px);
            }

            #ham-bottom {
                transform: translateY(7px);
            }
        }
    }
}

//footer
footer {
    margin: 30px 0 15px 0;

    p {
        margin: 0;
        color: @gray;
        font-size: 14px;
    }
}

//figure
figure {
    margin: 0;

    figcaption {
        margin: 5px 0 0 0;
    }
}

.plus-background {
    background: #f9f9f9 url('../images/plus-xs-90.svg');
    background-size: 16px;
}

//embark-video
.embark-video {
    width: 250px;
    height: 300px;
}

//logo
#bodymovin {
    position: relative;
    opacity: 1;
    width: 150px;
    height: 45px;
    animation-timing-function: cubic-bezier(0.090, 0.455, 0.150, 0.860);
    z-index: 35;
}

/*Animation*/

//fade in welcome line
.welcome-line {
    color: @primary;
    animation: 1500ms fade-in-welcome-line cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}

.welcome-line:nth-child(2) {
    animation-delay: 150ms;
}

.welcome-line:nth-child(3) {
    animation-delay: 300ms;
}

.welcome-line:nth-child(4) {
    animation-delay: 450ms;
}

@keyframes fade-in-welcome-line {
    0% {
        color: @primary;
    }

    100% {
        color: white;
    }
}

//arrow down
.down-arrow {
    animation: 1500ms down-arrow cubic-bezier(0.445, 0.050, 0.550, 0.950) 400ms forwards;
}

@keyframes down-arrow {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Landing Page Style*/

.welcome-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100vh;
    background-color: @primary;
    color: white;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: -1;

    .welcome-message {
        align-self: center;
        width: 90%;
        margin-top: -30px;
    }

    .down-arrow-wrapper {
        position: absolute;
        overflow: hidden;
        padding: 0 0 60px 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        .down-arrow {
            height: 75px;
            width: 35px;
            background: url('../images/cursor-arrow.svg') center no-repeat;
            background-size: contain;
            margin: 0 auto;
        }
    }
}

.cv {
    margin: 0 0 32px 0;
    cursor: pointer;

    a {
        svg {
            vertical-align: text-top;
        }
    }
}



/*Video*/

.video-section {
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*404 page*/

#error-page {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    .error-wrapper {
        width: 100%;
        text-align: center;

        h1 {
            font: 900 38px/50px Roboto;
            color: @primary;
            text-transform: uppercase;
            margin: 0 0 10px 0;
        }

        p {}
    }
}



/*New*/

#lp-container {
    background: white !important;
    margin-top: 110vh !important;
    padding-top: 80px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

    .carousel,
    .project-thumbnail {
        height: 260px;

        img {
            height: 260px;
            width: 320px;
        }
    }
}

.mobile-section-title {
    font: 800 18vw/120px 'Open Sans', sans-serif;
    color: @primary;
    text-align: left;
    background: #eee;
    margin: -80px 0 32px 0;
    //padding: 40px 0;
}

.section-title {
    position: absolute;
    transform: rotate(-90deg);
    font: 800 120px/120px 'Open Sans', sans-serif;
    opacity: 0.15;
    width: fit-content;
    transition: opacity 200ms ease-in-out;

    &.section-title-1 {
        top: 150px;
        left: -150px;
    }

    &.section-title-2 {
        top: 160px;
        left: -170px;
    }

    &.fade-out {
        opacity: 0;
    }
}

/*Carousel*/
.carousel {
    .carousel-indicators {
        bottom: -40px;

        li {
            width: 4px;
            height: 4px;
            border: 1px solid @primary;
            border-radius: 50%;
            box-sizing: border-box;

            &.active {
                background-color: @primary;
            }
        }
    }

    .carousel-control-prev,
    .carousel-control-next {
        top: auto;
        bottom: -37px;
        display: block;
        width: 20px;

        .carousel-control-prev-icon {
            background-image: url(../images/icons/prev-button.svg);
        }

        .carousel-control-next-icon {
            background-image: url(../images/icons/next-button.svg);
        }
    }
}

/*projects on homepage*/

#track {
    .background {
        background: #ECECEC;
    }
}

#watoobi {
    .background {
        background: #F0F2F7;
    }
}

#showbox {
    .background {
        background: #F2E9E0;
    }
}

#urbanika {
    .background {
        background: #FCF8F2;
    }
}

#chefbot {
    .background {
        background: #E9F2EE;
    }
}


/*Media Queries*/

//Small-Medium
@media screen and (min-width: 500px) {

    /*Landing Page*/
    .welcome-message {
        padding: 30px 0 0 0;
    }
}

//Medium
@media screen and (min-width: 600px) {

    /*Typography*/
    a {
        &:hover {
            color: @secondary;

            #cv-svg {
                fill: @secondary;
            }
        }
    }

    //Welcome message
    .welcome-container {
        padding: 0 30px;

        .welcome-message {
            padding: 0;
        }
    }

    .mobile-section-title {

        text-align: left;
    }

    /*Components*/
    //embark-video
    .embark-video {
        width: 400px;
        height: 400px;
    }

    //video button
    .video-play-button {
        height: 70px;
        width: 70px;
    }

    .about-section {
        ul {
            margin: 20px 0;
        }
    }

    /*404 page*/
    #error-page {
        .error-wrapper {
            width: 500px;
        }
    }

    #lp-container {

        .carousel,
        .project-thumbnail {
            height: 290px;

            img {
                height: 288px;
                width: 350px;
            }
        }
    }

    /*Process*/
    .process {
        position: relative;
        padding: 40px 0;

        .process-line {
            background-color: @primary;
            height: 2px;
            width: 100%;
            position: absolute;
            top: 50%;
            transform: rotate(0deg);
        }

        .process-item {
            height: 120px;
            width: 120px;
            background-size: contain;
            border-radius: 50%;
            border: 2px solid @primary;
            position: relative;
            margin-bottom: 0;

            span {
                position: relative;
                bottom: -125px;
                display: block;
                text-align: center;
                width: 100%;
                left: 0;
                top: auto;
            }

            &:nth-child(even) {
                span {
                    top: -40px;
                    left: 0;
                    text-align: center;

                }
            }
        }

    }
}

/*Medium-Large*/

@media screen and (min-width: 900px) {

    /*Welcom-container*/
    .welcome-container {
        .welcome-message {
            margin-top: 0;
        }
    }

    .welcome-line {
        font-size: 10vw;
    }



    /*Components*/
    //embark-video
    .embark-video {
        width: 600px;
    }
}

@media screen and (min-width: 1024px) {

    /*General*/
    .desktop-hidden {
        display: none !important;
    }

    .mobile-hidden {
        display: block !important;
    }

    /*welcome container*/
    .welcome-container,
    .welcome-message,
    .welcome-line {
        cursor: url('../images/cursor-arrow.svg'), auto;
    }

    .down-arrow {
        display: none;
    }

    #lp-container {
        background: white !important;
        margin-top: 110vh !important;
        padding-top: 80px;
        box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);

        .carousel,
        .project-thumbnail {
            height: 400px;

            img {
                height: 400px;
                width: 485px;
            }
        }
    }

    /*navbar*/

    .navbar-expand-lg {
        .navbar-nav {
            .nav-link {}
        }
    }

    /*about*/
    .about-section {
        ul {
            margin: 20px 0;
        }
    }
}


/*Large*/

@media screen and (min-width: 1200px) {

    /*General*/
    .mobile-hidden {
        display: block;
    }

    .desktop-hidden {
        display: none;
    }

    /*Typography*/
    .welcome-line {
        font-size: 8.5vw;
    }
}

/*Extra Large*/

@media screen and (min-width: 1920px) {
    .welcome-line {
        font-size: 10vw;
    }
}
