/*TOC of Porfolio Styles
1. imports and variables
2. General
3. Typgraphy
4. Grid: main container, projects grid
5. Components: header, mobile menu, footer, carousels, section,
6. Animation
7. Landing Page Style
8. Project Page Style
9. 404 page
10. Media Queries
*/
/*imports and variables*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i');
/*General*/
* {
  cursor: default;
}
::selection {
  background: #FFC5FF;
  /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #FFC5FF;
  /* Gecko Browsers */
}
body {
  width: 100%;
  overflow-x: hidden;
}
figcaption {
  cursor: pointer;
}
img {
  width: 100%;
}
/*Typgraphy*/
* {
  font: 400 15px/26px Open Sans, sans-serif;
}
.welcome-line {
  font: 900 12vw/115% Open Sans, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
a {
  position: relative;
  cursor: pointer;
  color: #FF0052;
  text-decoration: none;
  font-family: 'Open Sans';
  transition: all 0.3s ease-in-out 0s;
}
a:hover {
  text-decoration: none;
  color: #FF0052;
}
a h1:hover {
  color: #FF0052;
  text-decoration: none;
}
a.underline::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -4px;
  left: 0;
  background-color: #FF0052;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
a.underline:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
h1 {
  font: 400 52px/72px 'Playfair Display', serif;
  letter-spacing: 2px;
  margin-bottom: 20px;
  color: black;
}
h2 {
  font: 400 52px/72px Open Sans, sans-serif;
  letter-spacing: 2px;
}
h3 {
  font: 300 36px/52px Open Sans, sans-serif;
  margin: 4px 0 12px;
  color: #FF0052;
}
h4 {
  font: 700 21px/36px Open Sans, sans-serif;
}
p {
  margin-bottom: 12px;
}
small {
  font: 400 14px/20px Open Sans, sans-serif;
  color: #929292;
  letter-spacing: 0.4px;
}
caption {
  display: none;
}
ul {
  list-style: none;
  padding: 0;
}
ul li {
  font: 400 16px/24px Open Sans, sans-serif;
  color: #999999;
}
ol {
  padding: 0;
}
span.primary {
  color: #FF0052;
}
/* homepage */
.welcome-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  height: 100vh;
  background-color: #FF0052;
  color: white;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}
.welcome-container .welcome-message {
  align-self: center;
  width: 90%;
  margin-top: -30px;
}
.welcome-container .down-arrow-wrapper {
  position: absolute;
  overflow: hidden;
  padding: 0 0 60px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.welcome-container .down-arrow-wrapper .down-arrow {
  height: 75px;
  width: 35px;
  background: url("../images/cursor-arrow.svg") center no-repeat;
  background-size: contain;
  margin: 0 auto;
}
.welcome-container .welcome-line {
  color: #FF0052;
  animation: 1500ms fade-in-welcome-line cubic-bezier(0.445, 0.05, 0.55, 0.95) forwards;
}
.welcome-container .welcome-line:nth-child(2) {
  animation-delay: 150ms;
}
.welcome-container .welcome-line:nth-child(3) {
  animation-delay: 300ms;
}
.welcome-container .welcome-line:nth-child(4) {
  animation-delay: 450ms;
}
@keyframes fade-in-welcome-line {
  0% {
    color: #FF0052;
  }
  100% {
    color: white;
  }
}
.welcome-container .down-arrow {
  animation: 1500ms down-arrow cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms forwards;
}
@keyframes down-arrow {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
/*Components*/
nav.navbar .navbar-toggler .navbar-toggler-icon {
  background: url("../images/icons/hamburger-icon.svg") no-repeat center;
}
nav.navbar .navbar-nav a.nav-link {
  font: italic 16px/20px Georgia, serif;
  color: black;
  margin: 12px 0 24px;
  padding: 12px 0;
  text-align: right;
}
nav.navbar .navbar-nav a.nav-link:hover {
  color: #FF0052;
}
.carousel {
  margin-bottom: 80px;
}
.carousel img {
  display: block;
  margin: auto;
  width: 320px;
}
.carousel .carousel-indicators {
  bottom: -48px;
}
.carousel .carousel-indicators li {
  width: 4px;
  height: 4px;
  border: 1px solid #FF0052;
  border-radius: 50%;
  box-sizing: border-box;
}
.carousel .carousel-indicators li.active {
  background-color: #FF0052;
}
.carousel .carousel-control-next,
.carousel .carousel-control-prev {
  top: auto;
  bottom: -44px;
  display: block;
  width: 20px;
}
.carousel .carousel-control-next .carousel-control-prev-icon,
.carousel .carousel-control-prev .carousel-control-prev-icon {
  background: url("../images/icons/prev-button.svg") center no-repeat !important;
  background-size: 100% 100$;
}
.carousel .carousel-control-next .carousel-control-next-icon,
.carousel .carousel-control-prev .carousel-control-next-icon {
  background: url("../images/icons/next-button.svg") center no-repeat !important;
  background-size: 100% 100$;
}
.video-section {
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}
figure {
  margin: 0;
}
footer {
  margin: 30px 0 15px;
}
footer p {
  margin: 0;
  color: #999999;
  font-size: 14px;
}
#hp-container {
  background: white !important;
  margin-top: 110vh !important;
  padding-top: 50px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}
#hp-container h1:hover {
  cursor: pointer;
}
#hp-container section {
  margin-bottom: 120px;
}
#hp-container .section-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 40px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}
#hp-container .section-name .underline {
  position: relative;
  bottom: 0;
  height: 7px;
  width: 100%;
  background-color: #44BEA4;
}
#hp-container .cv {
  cursor: pointer;
}
#hp-container #track .background {
  background: #f9f9fe;
}
#hp-container #watoobi .background {
  background: #F0F2F7;
}
#hp-container #showbox .background {
  background: #F2E9E0;
}
#hp-container #urbanika .background {
  background: #FCF8F2;
}
#hp-container #chefbot .background {
  background: #E9F2EE;
}
/*projects*/
#bodymovin {
  position: relative;
  opacity: 1;
  width: 150px;
  height: 45px;
  animation-timing-function: cubic-bezier(0.09, 0.455, 0.15, 0.86);
  z-index: 35;
}
/*project page style*/
.project-container blockquote {
  font: italic 24px/40px Georgia, serif;
  background: #FF0052;
  color: white;
  text-align: center;
}
.project-container .bullet {
  color: #FF0052;
  position: absolute;
  transform: rotate(90deg) translate(4px, 20px);
}
.project-container cite {
  font: 14px/24px Georgia, serif;
}
.project-container ul li {
  color: black;
}
.project-container p {
  font: 21px/32px Georgia, serif;
}
.project-container p em {
  font: italic 21px/32px Georgia, serif;
  letter-spacing: 1px;
}
.project-container p.italic {
  margin: 16px 0 0;
  font-style: italic;
  letter-spacing: 1px;
}
.project-container ol li {
  font: 21px/44px Georgia, serif;
}
.project-container .hero-image {
  margin-bottom: 20px;
  height: 200px;
}
.project-container section {
  margin-top: 24px;
  margin-bottom: 24px;
}
.project-container .break {
  background: url("../images/Icons/break.svg") center no-repeat;
  background-size: contain;
  height: 4px;
  margin: 32px 0;
}
.project-container figure {
  margin: 0 0 40px;
}
.project-container figure.design img {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.project-container figure figcaption {
  text-align: center;
  margin: 4px 0 0;
}
.project-container .process .process-line {
  height: 100%;
  width: 2px;
  background-color: #FF0052;
  position: absolute;
  z-index: -1;
}
.project-container .process .process-item {
  position: relative;
  height: 120px;
  width: 120px;
  margin: 0 0 32px;
}
.project-container .process .process-item:last-of-type {
  margin: 0;
}
.project-container .process .process-item.process-strategy {
  background: url("../images/icons/strategy.svg") center no-repeat;
  background-size: contain;
}
.project-container .process .process-item.process-research {
  background: url("../images/icons/research.svg") center no-repeat;
  background-size: contain;
}
.project-container .process .process-item.process-ideation {
  background: url("../images/icons/ideation.svg") center no-repeat;
  background-size: contain;
}
.project-container .process .process-item.process-usability {
  background: url("../images/icons/usability.svg") center no-repeat;
  background-size: contain;
}
.project-container .process .process-item.process-design {
  background: url("../images/icons/design.svg") center no-repeat;
  background-size: contain;
}
.project-container .process .process-item span {
  position: absolute;
  top: 45px;
  left: 136px;
  line-height: 24px;
  width: 120px;
}
.project-container .process .process-item:nth-of-type(even) {
  text-align: right;
}
.project-container .process .process-item:nth-of-type(even) span {
  left: -136px;
}
.project-container .carousel img {
  width: 100% !important;
}
.project-container .next-project {
  margin: 40px 0 0;
}
.project-container .next-project .underline {
  background-color: #44BEA4;
  height: 8px;
  margin: 4px 0 32px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.project-container .next-project .underline small {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  line-height: 44px;
}
/*Watoobi*/
#watoobi .hero-image {
  background: gray url("../images/project-watoobi/Watoobi-Hero-V02.jpg") center no-repeat;
  background-size: cover;
  height: 400px;
}
/*Track160*/
#track .hero-image {
  background: gray url("../images/project-track/Track-Hero-V01.jpg") center no-repeat;
  background-size: cover;
  height: 400px;
}
/*404 page*/
#error-page {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#error-page .error-wrapper {
  width: 100%;
  text-align: center;
}
#error-page .error-wrapper h1 {
  font: 900 38px/50px Open Sans;
  color: #FF0052;
  text-transform: uppercase;
  margin: 0 0 10px;
}
/*Media Queries*/
@media screen and (min-width: 500px) {
  /*Landing Page*/
  .welcome-message {
    padding: 30px 0 0;
  }
}
@media screen and (min-width: 600px) {
  /*Typography*/
  a #cv-svg {
    fill: #FF0052;
  }
  .welcome-container {
    padding: 0 30px;
  }
  .welcome-container .welcome-message {
    padding: 0;
  }
  .video-play-button {
    height: 70px;
    width: 70px;
  }
  #about ul {
    margin: 20px 0 12px;
  }
  /*404 page*/
  #error-page .error-wrapper {
    width: 500px;
  }
}
/*Medium-Large*/
@media screen and (min-width: 992px) {
  /*navigation*/
  nav.navbar .navbar-nav a.nav-item {
    margin-left: 24px;
    padding: 12px 0;
    transition: all 150ms ease-in-out;
  }
  nav.navbar .navbar-nav a.nav-item:hover {
    color: #FF0052;
    transform: translateY(-10px);
  }
  .hero-image {
    margin-left: 0;
  }
  /*welcome container*/
  .welcome-container,
  .welcome-line,
  .welcome-message {
    cursor: url('../images/cursor-arrow.svg'), auto;
  }
  .down-arrow {
    display: none;
  }
  /*Homepage*/
  #hp-container .carousel {
    margin-bottom: 0;
  }
  #hp-container .carousel .carousel-item img {
    width: 500px;
    height: 410px;
  }
  #hp-container .project-thumbnail img {
    width: 500px;
    height: 410px;
  }
  /*project*/
  .project-container {
    /*Welcom-container*/
  }
  .project-container .process .process-line {
    width: 90%;
    height: 2px;
    background-color: #FF0052;
    position: absolute;
    z-index: -1;
  }
  .project-container .process .process-item {
    margin: 0;
  }
  .project-container .process .process-item span {
    position: absolute;
    top: -32px;
    left: 0;
    line-height: 24px;
    width: 120px;
    text-align: center;
  }
  .project-container .process .process-item:nth-of-type(even) {
    text-align: center;
  }
  .project-container .process .process-item:nth-of-type(even) span {
    left: 0;
    top: 132px;
  }
  .project-container .welcome-container .welcome-message {
    margin-top: 0;
  }
  .project-container .welcome-line {
    font-size: 10vw;
  }
}
/*Large*/
@media screen and (min-width: 1200px) {
  /*Typography*/
  .welcome-line {
    font-size: 8.5vw;
  }
}
/*Extra Large*/
@media screen and (min-width: 1920px) {
  .welcome-line {
    font-size: 10vw;
  }
}
