/*import and variables*/

@import url('https://fonts.googleapis.com/css?family=Suez+One');
@import url('https://fonts.googleapis.com/css?family=Heebo:400,500,700');

/*Generic*/

* {
    cursor: default;
}
.cursor-pointer {
    cursor: pointer;
}
body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
article {}

/*Typography*/

* {
    font: 400 15px/21px Heebo, sans-serif;
}
h1 {
    font: 30px/140% SuezOne, serif;
    color: #000000;
    letter-spacing: 0;
    text-align: right;
    font-family: 'Suez One', serif;
    margin: 0;
}
h2 {
    font: 18px/26px SuezOne, serif;
    text-align: right;
    font-family: 'Suez One', serif;
    margin: 0 0 20px 0;
}
h3 {
    font: 700 15px/24px Heebo, serif;
    text-align: right;
    margin: 15px 0 0 0;
}
p {
    text-align: right;
    margin: 0 0 5px 0;
}

/*Map*/

.map-container {
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 90;
    transition: all 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    .legend {
        position: absolute;
        right: 0;
        bottom: 40px;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.25);
        ul {
            list-style: none;
            direction: rtl;
            margin: 0;
            padding: 0;
            li {
                margin: 5px 0 0 0;
                font-size: 14px;
                img {
                    width: 15px;
                    height: 10px;
                    margin: 0 5px;
                }
            }
        }
    }
    &.map-close {
        top: ~'calc(-100vh + 30px)';
        .arrow {
            transform: rotate(0);
        }
    }
}
#map {}
.marker {
    display: block;
    border: none;
    cursor: pointer;
    padding: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.tooltip {
    position: absolute;
    background: black;
    color: white;
    transform: translateX(-50%);
    padding: 0 5px;
    font-size: 12px;
}
.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/*Grid*/

.container {
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-gap: 15px;
}

/*Nav*/

nav {
    position: fixed;
    top: 0;
    right: 15px;
    width: 50px;
    height: 30px;
    display: flex;
    z-index: 100;
    justify-content: flex-end;
    align-items: center;
    img {
        width: 20px;
        margin: 0 15px 0 0;
    }
    .index {
        display: none;
        position: absolute;
        top: 30px;
        right: 40px;
        padding: 0 10px;
        width: 100px;
        ul {
            list-style: none;
            direction: rtl;
            padding: 0;
            li {
                margin: 5px 0;
                padding: 2px 5px;
                background-color: black;
                color: white;
                font-size: 13px;
                line-height: 18px;
            }
        }
    }
}

/**/

.arrow-wrapper {
    position: absolute;
    display: flex;
    bottom: 0;
    width: 100%;
    height: 30px;
    left: 0;
    background: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    z-index: 100;
    justify-content: center;
    align-items: center;
    .clickable-area {
        padding: 0 15px;
    }
    .arrow {
        height: 10px;
        width: 10px;
        background: white;
        border-left: 7px solid white;
        border-right: 7px solid white;
        border-top: 10px solid black;
        box-sizing: border-box;
        transform: rotate(180deg);
        transition: all 400ms cubic-bezier(0.445, 0.050, 0.550, 0.950);
    }
}

/*Post*/

main {
    height: 100vh;
    overflow: scroll;
    article {
        display: none;
        padding: 60px 0 60px 0;
        grid-column: 2;
        direction: rtl;
        overflow-y: scroll;
        p:first-of-type {
            margin: 10px 0 0 0;
        }
    }
    figure {
        grid-column: 1 / span 3;
        img {}
        figcaption {}
    }
}

/*About*/

.about {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.95);
    z-index: 110 !important;
    div {
        grid-column: 2;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }
}
