body {
    margin: 0;
    padding: 0;
}
.custom-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    width: 100vw;
    height: 100vh;
}
.introduction {
    background-color: #FFFDF6;
    font-family: sans-serif;
    font-size: 32.44px;
    font-weight: 900;
    color: #588BDA;
    letter-spacing: 3.78px;
    text-transform: uppercase;
    padding: 20px;
    -webkit-box-sizing: content-box;
    box-sizing: border-box;
    width: 100vw;
    height: 33.3vh;
}
.circle-wrapper {
    background-color: #598DDD;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 33.3vh;
}
.circle {
    height: 15vh;
    width: 15vh;
    border-radius: 50%;
    background-image: linear-gradient(268deg, #598DDD 0%, rgba(246, 216, 224, 0.74) 42%, rgba(245, 248, 255, 0.61) 88%);
    -webkit-box-shadow: 0 2px 5px 1px rgba(74, 119, 189, 0.58);
    box-shadow: 0 2px 5px 1px rgba(74, 119, 189, 0.58);
}
.illustration-wrapper {
    width: 100vw;
    height: 33.3vh;
    background: #F8DDE4 url('../images/image.png') no-repeat center center;
    background-size: 15vh;
}
.down-arrow {
    position: absolute;
    left: 30px;
    bottom: 30px;
    height: 30px;
    width: 30px;
    overflow: hidden;
}
.down-arrow img {
    height: 30px;
    width: 30px;
    animation: 4s ease-in-out infinite down-arrow;
}
@keyframes down-arrow {
    0% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(50px);
    }
    29.9% {
        transform: translateY(50px);
    }
    30% {
        transform: translateY(-50px);
    }
    50% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(0);
    }
}
@media screen and (min-width: 768px) {
    .introduction {
        width: 50vw;
        height: 100vh;
        font-size: 5vw;
    }
    .circle-wrapper {
        height: 50vh;
        width: 50vw;
    }
    .circle {
        height: 17vw;
        width: 17vw;
    }
    .illustration-wrapper {
        height: 50vh;
        width: 50vw;
        background-size: 17vw;
    }
}
@media screen and (min-width: 1024px) {
    .introduction {
        padding: 45px 50px;
    }
    .circle {
        height: 150px;
        width: 150px;
    }
    .illustration-wrapper {
        background-size: 150px;
    }
    .down-arrow {
        display: none;
    }
}
