/*TOC of Porfolio Styles

1. imports and variables
2. General
3. Typgraphy
4. Grid: main container, projects grid
5. Components: header, mobile menu, footer, carousels, section,
6. Animation
7. Landing Page Style
8. Project Page Style
9. Media Queries

*/


/*imports and variables*/

//imports
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,400i');
//variables
@primary: #FF0052;
@secondary: #44BEA4;
@gray: #999999;

/*General*/

* {
    cursor: default;
}
body {
    width: 100%;
    overflow-x: hidden;
}
a {
    cursor: pointer;
    color: @primary;
}
figcaption {
    cursor: pointer;
}
.no-scroll {
    overflow: hidden;
    position: fixed;
}
.mobile-hidden {
    display: none !important;
}
.desktop-hidden {
    display: block !important;
}
.desaturate-blur {
    filter: blur(12px) saturate(0%);
}
.path-fill-white {
    fill: #fff;
    transition: fill 500ms ease;
}
.hide-menu {
    transition: all 500ms ease;
}
.position-fixed {
    position: fixed;
}
.lp-main-container {
    margin-top: 110vh !important;
    padding-top: 50px;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2);
}

/*Typgraphy*/

* {
    font: 400 15px/26px Roboto, sans-serif;
}
.welcome-line {
    font: 900 12vw/100% Roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}
h1 {
    font: 200 55px/55px Roboto, sans-serif;
}
h2 {
    font: 500 15px/21px Roboto, sans-serif;
}
h3 {
    font: 300 15px/21px Roboto, sans-serif;
}
p {
    &.intro-paragraph {
        //color: #494949;
        margin: 5px 0;
    }
    &.project-description {
        margin: 0;
    }
    &.light-p {
        font-weight: 300;
    }
}
small {
    font: 400 12px/18px Roboto, sans-serif;
    color: @gray;
    letter-spacing: 0.2px;
}
caption {
    color: @gray;
    font: 300 14px/21px Roboto, sans-serif;
    letter-spacing: 0.6px;
}
ul {
    list-style: none;
    padding: 0;
    li {
        font: 400 16px/24px Roboto, sans-serif;
        color: @gray;
    }
    li:first-child {
        font: 300 21px/40px Roboto, sans-serif;
        color: black;
    }
}
a {
    color: @primary;
    text-decoration: none;
}
.desktop-menu ul li {
    transition: all 150ms ease;
    &:hover {
        transform: translateY(-4px);
    }
    a {
        font: 18px/21px Vollkorn;
        font-style: italic;
    }
}

/*Components*/


/*Grid*/

//main container
.container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 30px;
    padding: 0 15px;
    background-color: white;
}
header {
    grid-column: 1/ span 6;
}
.intro {
    grid-column: 1 / span 6;
}
.work {
    grid-column: 1 / span 6;
}
.work-section {
    grid-column: 1 / span 6;
}
.about {
    grid-column: 1 / span 6;
}
.about-section {
    grid-column: 1 / span 6;
}
.contact {
    grid-column: 1 / span 6;
}
.contact-section {
    grid-column: 1 / span 6;
}
footer {
    grid-column: 1 / span 6;
}
//projects grid
.project-item-grid {
    display: grid;
    grid-auto-rows: minmax(125px, auto);
    grid-gap: .5rem;
}
//Project-Page Grid
.project-container {
    .project-header {
        grid-column: 1 / span 6;
    }
    .project-section {
        grid-column: 1 / span 6;
    }
    .video-section {
        grid-column: 1 / span 6;
    }
    .image-section {
        grid-column: 1 / span 6;
        margin: 0 0 30px 0;
        img {
            width: 100%;
        }
    }
    .next-project {
        grid-column: 1 / span 6;
    }
    footer {
        grid-row: auto;
    }
}

/*Components*/

//header
header {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 15;
    position: relative;
    .menu-button {
        height: 18px;
        #hamburger-icon {
            fill: #000;
        }
        #ham-top {
            transform: translateY(0);
            transition: all 250ms ease;
        }
        #ham-bottom {
            transform: translateY(0);
            transition: all 250ms ease;
        }
        &.menu-button-close {
            #hamburger-icon {
                fill: #fff;
            }
            #ham-top {
                transform: translateY(-7px);
            }
            #ham-bottom {
                transform: translateY(7px);
            }
        }
    }
}
//Mobile Menu
.mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 90vh;
    transition: all 750ms cubic-bezier(0.250, 0.460, 0.035, 1.000);
    padding: 10vh 0 0 0;
    z-index: 10;
    background-color: @primary;
    &.menu-closed {
        top: -100vh;
    }
    ul {
        list-style: none;
        padding: 0;
        text-align: center;
        z-index: 10;
        li {
            a {
                font-size: 44px;
                font-family: Vollkorn-Italic;
                color: #FFFFFF;
                font-style: italic;
                letter-spacing: 0;
                line-height: 120px;
                cursor: pointer;
                &:hover {
                    color: @secondary;
                }
            }
        }
    }
}
//footer
footer {
    margin: 30px 0 15px 0;
    p {
        margin: 0;
    }
}
//figure
figure {
    margin: 0;
    figcaption {
        margin: 5px 0 0 0;
    }
}
//carousel
.section-carousel {
    grid-column: 1 / span 6;
    .main-carousel {
        background-color: white;
        .carousel-cell {
            width: 100vw;
            text-align: center;
            picture {}
            img {
                width: 320px;
            }
        }
        .caption {
            display: none;
        }
    }
}
.section-carousel-buttons {
    grid-column: 1 / span 6;
    display: flex;
    justify-content: space-around;
    .carousel-button-prev {
        transform: scaleX(-1);
        margin: 0 5px 0 0;
        padding: 0 15px;
    }
    .cell-button-group {
        display: flex;
        .button {
            margin: -6px 2px 0 2px;
            &.is-selected {
                g {
                    fill: #FF95D2;
                }
            }
        }
    }
    .carousel-button-next {
        margin: 0 0 0 5px;
        padding: 0 15px;
    }
}
//section
.section-name {
    font: 400 40px/60px Vollkorn, sans-serif;
    position: relative;
    height: 70px;
    text-align: right;
    margin: 50px 0 0 0;
    .underline {
        position: relative;
        bottom: 0;
        height: 7px;
        width: 100%;
        background-color: @secondary;
    }
    &.work {
        margin: 35px 0 20px 0;
    }
}
//item
.item {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 0 15px 0;
    .item-content {
        position: relative;
        width: 100%;
        height: 200px;
        background: white;
        border-radius: 2px;
        box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.15);
        transition: all 300ms ease;
    }
}
//logo
#bodymovin {
    position: relative;
    opacity: 1;
    width: 150px;
    height: 45px;
    animation-timing-function: cubic-bezier(0.090, 0.455, 0.150, 0.860);
    z-index: 35;
}

/*Animation*/

//fade in welcome line
.welcome-line {
    color: @primary;
    animation: 1500ms fade-in-welcome-line cubic-bezier(0.445, 0.050, 0.550, 0.950) forwards;
}
.welcome-line:nth-child(2) {
    animation-delay: 150ms;
}
.welcome-line:nth-child(3) {
    animation-delay: 300ms;
}
.welcome-line:nth-child(4) {
    animation-delay: 450ms;
}
@keyframes fade-in-welcome-line {
    0% {
        color: @primary;
    }
    100% {
        color: white;
    }
}
//arrow down
.down-arrow {
    animation: 1500ms down-arrow cubic-bezier(0.445, 0.050, 0.550, 0.950) 400ms forwards;
}
@keyframes down-arrow {
    0% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0);
    }
}

/*Landing Page Style*/

.welcome-container {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    height: 100vh;
    background-color: @primary;
    color: white;
    top: 0;
    left: 0;
    width: 100vw;
    .welcome-message {
        align-self: center;
        width: 90%;
    }
    .down-arrow-wrapper {
        position: absolute;
        overflow: hidden;
        //align-self: flex-end;
        padding: 0 0 30px 0;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        .down-arrow {
            height: 75px;
            width: 35px;
            background: url('../images/cursor-arrow.svg') center no-repeat;
            background-size: contain;
            margin: 0 auto;
        }
    }
}
//Projects Thumbnails
#urbanika {
    .item-content {
        background: #FFFAF3 url('../images/thumbnail-urbanika.png') center center no-repeat;
        background-size: 70%;
    }
}
#chefbot {
    .item-content {
        background: #F5FbFb url('../images/thumbnail-chefbot.svg') center center no-repeat;
        background-size: 70%;
    }
}
#showreel {
    .item-content {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Vollkorn', serif;
        font-style: italic;
        color: black;
        font-size: 30px;
        overflow: hidden;
        .particle {
            position: absolute;
            height: 8px;
            width: 8px;
            background-color: @primary;
        }
    }
}
#showbox {
    .item-content {
        background: url('../images/thumbnail-showbox.svg') center center no-repeat;
        background-size: 40%;
    }
}
#voop {
    .item-content {
        background: #95dac9 url('../images/thumbnail-voop.svg') center center no-repeat;
        background-size: 50%;
    }
}
#embark {
    .item-content {
        background: #F6C669 url('../images/thumbnail-embark.svg') center center no-repeat;
        background-size: 60%;
    }
}
.cv {
    cursor: pointer;
    a {
        svg {
            vertical-align: text-top;
        }
    }
}

/*project page style*/

.project-container {
    .project-name {
        margin: 25px 0 5px 0;
    }
    .project-section {
        h2 {
            margin-bottom: 5px;
        }
        p {
            margin-top: 0;
        }
    }
    .video-section {
        position: relative;
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.25);
        line-height: 0;
        .video-white-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            .video-button-title {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                align-items: center;
                .video-play-button {
                    height: 55px;
                    width: 55px;
                    background-color: @primary;
                    border-radius: 50%;
                    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    .play-icon {
                        height: 30px;
                        width: 38px;
                        margin: 0 0 0 20px;
                        box-sizing: border-box;
                        border-left: 25px solid white;
                        border-bottom: 15px solid transparent;
                        border-top: 15px solid transparent;
                    }
                }
                .video-title {
                    margin: 5px 0 0 0;
                    font-family: Vollkorn;
                    font-style: italic;
                }
            }
            .video {
                width: 100%;
            }
        }
    }
    .next-project {
        margin: 30px 0 0 0;
        .underline {
            height: 7px;
            width: 100%;
            background-color: @secondary;
        }
        a {
            cursor: pointer;
            &:hover {
                color: @secondary;
            }
            p {
                cursor: pointer;
            }
            h2 {
                cursor: pointer;
                font-size: 35px;
                font-weight: 300;
                margin: 0 0 30px 0;
                color: black;
            }
        }
    }
}

/*Media Queries*/

//Small-Medium
@media screen and (min-width: 500px) {
    /*Typography*/
    .welcome-line {
        //font: 900 80px/100% Roboto, sans-serif;
    }
    /*Grid*/
    .project-item-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 30px;
    }
    /*Components*/
    .item .item-content {
        height: 150px;
    }
    //carousel
    .section-carousel {
        .main-carousel {
            .carousel-cell {
                img {
                    width: 500px;
                }
            }
        }
    }
    /*Landing Page*/
    .welcome-message {
        padding: 30px 0 0 0;
    }
}
//Medium
@media screen and (min-width: 600px) {
    /*Typography*/
    a {
        &:hover {
            color: @secondary;
            #cv-svg {
                fill: @secondary;
            }
        }
    }
    //Welcome message
    .welcome-container {
        padding: 0 30px;
        .welcome-message {
            padding: 0;
        }
    }
    /*Components*/
    //Header
    header {
        margin: 30px 0;
        align-items: baseline;
        .desktop-menu {
            ul {
                display: block;
                li {
                    margin: 0 20px 0 0;
                    display: inline-block;
                    &:last-of-type {
                        margin: 0;
                    }
                    a {
                        font-family: Vollkorn;
                        font-size: 18px;
                        color: #000000;
                        letter-spacing: 0;
                        line-height: 21px;
                        &:hover {
                            color: @primary;
                        }
                    }
                }
            }
        }
    }
    .section-name {
        text-align: left;
        margin: 50px 0 0 0 !important;
    }
    //Carousel
    .section-carousel {
        .main-carousel {
            .caption {
                bottom: -55px;
            }
            .carousel-cell {
                img {
                    width: 600px;
                }
            }
        }
    }
    .section-carousel-buttons {
        display: flex;
        justify-content: flex-end;
    }
    //items
    .item .item-content {
        height: 200px;
    }
    //video button
    .video-play-button {
        height: 70px;
        width: 70px;
    }
    /*grid*/
    .work {
        grid-column: 1 / span 1;
    }
    .work-section {
        grid-column: 1 / span 6;
    }
    .about {
        grid-column: 1 / span 1;
    }
    .about-section {
        grid-column: 1 / span 4;
    }
    .contact {
        grid-column: 1 / span 1;
    }
    .contact-section {
        grid-column: 1 / span 4;
    }
    footer {
        grid-column: 1 / span 6;
    }
    .about-section {
        ul {
            margin: 20px 0;
        }
        .cv {
            margin: 20px 0;
        }
    }
}

/*Medium-Large*/

@media screen and (min-width: 900px) {
    /*Welcom-container*/
    .welcome-line {
        font-size: 10vw;
    }
    /**/
    .container {
        &.lp-main-container {
            padding-top: 50px;
        }
    }
    .project-container {
        .project-name {
            margin: 45px 0 5px 0;
        }
    }
    /*Components*/
    .section-name {
        margin: 0 !important;
    }
    /*Grid*/
    header {
        grid-column: span 6;
        margin: 50px 0 0 0;
    }
    .work-section {
        grid-column: span 5;
    }
    .about-section {
        grid-column: span 3;
    }
    .contact-section {
        grid-column: span 3;
    }
    .image {
        grid-column: 5 / span 2;
        grid-row: 3 / span 3;
    }
    .item .item-content {
        height: 220px;
    }
    .section-carousel {
        .main-carousel {
            .caption {
                display: block;
                margin-bottom: 0;
                position: absolute;
                bottom: -40px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}
@media screen and (min-width: 1024px) {
    /*General*/
    .desktop-hidden {
        display: none !important;
    }
    .mobile-hidden {
        display: block !important;
    }
    /*welcome container*/
    .welcome-container,
    .welcome-message,
    .welcome-line {
        cursor: url('../images/cursor-arrow.svg'), auto;
    }
    .down-arrow {
        display: none;
    }
    /**/
    .section-name {
        text-align: right;
    }
    /*Grid*/
    .container {
        position: relative;
        margin: 0 auto;
        grid-template-columns: 1fr repeat(6, 137px) 1fr;
        padding: 0;
    }
    header {
        grid-column: 2/ span 6;
    }
    .intro {
        grid-column: 2 / span 4;
        margin: 0 0 40px 0;
    }
    .work {
        grid-column: 2;
    }
    .work-section {
        grid-column: 3 / span 5;
        margin: 0 0 60px 0;
    }
    .about {
        grid-column: 2;
    }
    .about-section {
        grid-column: 3 / span 3;
        margin: 0 0 60px 0;
    }
    .contact {
        grid-column: 2;
    }
    .contact-section {
        grid-column: 3 / span 3;
    }
    .image {
        grid-column: 6 / span 3;
    }
    footer {
        grid-column: 2 / span 3;
    }
    .project-item-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px 30px;
    }
    .section-name {
        margin: 0 !important;
        text-align: right;
        line-height: 44px;
    }
    .about-section {
        ul {
            margin: 20px 0;
        }
        .cv {
            margin: 20px 0;
        }
    }
    /*Project Container*/
    .project-container {
        .project-header {
            grid-column: 2 / span 4;
            padding: 0;
        }
        .project-section {
            grid-column: 2 / span 4;
            padding: 0;
        }
        .section-carousel {
            grid-column: 1 / span 8;
        }
        .video-section {
            grid-column: 2 / span 6;
        }
        .image-section {
            grid-column: 2 / span 6;
        }
        .next-project {
            grid-column: 2 / span 6;
            width: 350px;
        }
        footer {
            grid-column: 2 / span 6;
        }
    }
    /*item hover*/
    //item
    .item {
        .item-content {
            transition: all 300ms ease;
            &:hover {
                transform: translateY(-8px);
                box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.25);
            }
        }
    }
}

/*Large*/

@media screen and (min-width: 1200px) {
    /*General*/
    .mobile-hidden {
        display: block;
    }
    .desktop-hidden {
        display: none;
    }
    /*Typography*/
    .welcome-line {
        font-size: 9vw;
    }
    /*Components*/
    //carousel
    .section-carousel {
        .main-carousel {
            .carousel-cell {
                img {
                    width: 900px;
                }
            }
        }
    }
    .section-carousel-buttons {
        grid-column: 6 / span 2;
        justify-self: end;
    }
    .section-carousel {
        .main-carousel {
            .carousel-cell {
                img {
                    width: 1040px;
                }
            }
        }
    }
}

/*Extra Large*/

@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1920px) {
    .welcome-line {
        font-size: 10vw;
    }
}
